.rightlargemovebox .content {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin: 50px; }
  .rightlargemovebox .content .leftimgbox {
    flex: 1;
    margin-right: 150px;
    height: 430px;
    float: left;
    background: url("../img/4.jpg") center center no-repeat;
    background-size: 680px 430px; }
  .rightlargemovebox .content form {
    float: left;
    height: 430px;
    width: 450px;
    border: 1px solid #dddddd; }
    .rightlargemovebox .content form h2 {
      color: #666;
      line-height: 80px;
      text-align: center;
      margin-top: 30px; }
    .rightlargemovebox .content form label {
      display: inline-block;
      width: 80px;
      font-size: 14px;
      font-weight: 600;
      line-height: 40px;
      color: #666;
      text-align: right;
      padding-right: 10px; }
    .rightlargemovebox .content form input {
      width: 300px;
      height: 50px;
      border: 1px solid #ddd;
      margin-bottom: 20px;
      text-indent: 10px;
      background: #fbfbfb;
      color: #aaa;
      outline: none;
      font-size: 14px; }
    .rightlargemovebox .content form input[type="submit"] {
      margin-left: 90px;
      text-indent: 0px;
      background: #444;
      color: white;
      font-size: 18px;
      font-weight: 600; }

.formwarning {
  width: 50%;
  height: 100px;
  line-height: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 0 30px 5px #555;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fbfbfb;
  color: #555;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  display: none;
  z-index: 1; }
  .formwarning a {
    display: block;
    text-align: center;
    height: 28px;
    width: 60px;
    background: #fbfbfb;
    border: 1px solid #ddd;
    color: black;
    line-height: 28px;
    border-radius: 5px;
    margin: 0 auto; }

.fixfog {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none; }
